* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0.5rem 2rem;
  background: #000000;
  width: 100%;
  flex-direction: column;
   
}

nav ul {
  display: flex;
  list-style: none; 
}

nav li {
  padding-left: 1rem; 
}

nav a {
  text-decoration: none;
  color: #ffffff
}

nav a:hover{
    color: darkred;
}

@media (max-width: 770px) {
  nav {
    flex-direction: column;
    padding: 1rem;
  }

  nav ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  nav li {
    padding: 0.5rem 0;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}
