* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
}

nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding: 0.5rem 2rem;
  background: #000000; 
}

nav ul {
  display: flex;
  list-style: none; 
}

nav li {
  padding-left: 1rem; 
}

nav a {
  text-decoration: none;
  color: #ffffff
}

nav a:hover{
    color: darkred;
}

img{
    display: block;
    margin: 1 auto;
    width: 50px;
    height: 50px;
    align-items: left;
}