body{
   margin: 0;
    min-height: 100vh;
    background-color: #f0f0f0; 
    font-family: Arial, Tahoma, Serif;
}

body{
   margin: 0;
    min-height: 100vh;
    background-color: #f0f0f0; 
}

img{
    display: block;
    margin: 1 auto;
    width: 50px;
    height: 50px;
    align-items: left;
}

.container {
    background-color: darkred;
    border-radius: 5px;
    width: 320px;
    padding: 45px;
    margin: 20px auto;
}

.container button {
    margin-left: auto;
    display: block;
}

h1 {
    text-align: center;
}

label {
    display: block;
}